
/*navbar start*/
/*
button:focus, input[type="button"]:focus {
    outline: none;   
}

.navbar{
    overflow-x: hidden;
   
}
.nav-link{
	font-size: 17px;
	color: #fff;
    transition: 0.3 all ease;
    
}
.nav-link:hover{
	color:#b8864a;
	
}
.navbar-brand{
    text-decoration:none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.navbar-brand:hover{
    text-decoration: none;
    color: white;
}

.bg-light{
	background: #fff;
}

.navbar-first{*/
    /*background: transparent;*/  
	/*transition: 0.3s all ease;
}

.navbar-scroll{
	background-color:#161616;
	transition: 0.3s all ease;
}
.navbar-scroll .nav-link:hover{
	transition: 0.2s all ease;
	border-bottom: 2px solid #b28957;

}
*/
/*navbar end*/